{% comment %} Credit: https://engineering.chrobinson.com/how-to/linking-a-series-of-jekyll-posts/ {% endcomment %}

<aside class="series-pager" style="text-align: center">
<h4><em>{{ site.data.series | where: 'id', page.series | map: 'title' }}</em> Series</h4>
{% assign series-posts = site.posts | reverse | where: 'series', page.series %}
{% assign series-pager-message = site.data.series | where: 'id', page.series | map: 'pager_message' %}

{% for post in series-posts %}
  {% if post.url == page.url %}
    {% assign prev_post_index = forloop.index | minus: 1 %}
    {% assign curr_post_index = forloop.index %}
    {% assign next_post_index = forloop.index | plus: 1 %}
  {% endif %}
{% endfor %}

<p>Post <strong>{{ curr_post_index }}</strong> of <strong>{{ series-posts.size }}</strong>
	{{ series-pager-message }}
</p>

{% for post in series-posts %}
  {% if prev_post_index == forloop.index %}
    <a class="btn" rel="prev" href="{{ site.baseurl }}{{ post.url }}">{{ site.data.language.str_previous_post | remove: 'Post'  }}</a>
  {% endif %}
  {% if next_post_index == forloop.index %}
		&nbsp;&nbsp;<a class="btn" rel="next" href="{{ site.baseurl }}{{ post.url }}">{{ site.data.language.str_next_post | remove: 'Post' }}</a>
  {% endif %}
{% endfor %}
</aside>
